.shopping-cart-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 500px;
}
.shopping-card1 {
    width: 70%;
    
}

.summary{
    width: 30%;
     box-shadow: 0 0 45px rgba(0, 0, 0, .08);
     padding-left: 15px;
     padding-right: 15px;
     justify-content: space-evenly;
     display: flex;
     flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.summary h4{
    font-size: 2rem;
}

.shpping1{
   display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
  font-size: 16px;

}


.shipping-box{
    width: 100%;
    padding-bottom: 20px;

}

.total-box{
    justify-content: space-between;
}

.sub-btn{
    width: 100%;
}

.check-btn{
    width: 100%;
    height: 39px;
    background-color:#FEA116 ;
    color: #fff;
    border: none;
    cursor: pointer;

}



.food-items{
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
}

.shopping-card1{
    padding-left: 15px;
    padding-right: 25px;
}
.food-items p{
    font-weight: 800;
}

.back{
gap: 5px;
padding-top: 25px;
cursor: pointer;
}
.back1{
    font-size: 2rem;
    
}