@media (max-width: 991px) {
    .menu-toggle {
        display: block;
    }

    .navbar-container {
        flex: wrap;

    }


    

    .teenline {
        display: block !important;
    }

    .extra-nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        display: flex !important;

        padding: 20px;
        display: none;
        gap: 15px;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        background-color: #0F172B;
    }

    .nav-bar {
        display: flex;
        justify-content: flex-start !important;
        align-items: baseline;
        display: none;

    }
    .background-image{
        object-fit: cover;
        max-width: 100%;
        width: 100%;
    }
   .s1-box{
    display: flex;
    flex-direction: column;
   }
    .s1-text {
        width: 100%;
    }
    .overlay-image {
        width: 100%;
        align-items: center !important;
    }
   
}

.boxdiv{
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .cancel{
        display: none;
    }