* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;

}

.extra-nav {
    display: none !important;
}

nav {
    background-color: #0F172B;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 100%;
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #0F172B;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FEA116;
}


.nav-bar {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}

.a-btn {
    background: none;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;

}

ul.nav-links li button {
    background: none;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.a-btn:hover {
    color: #FEA116;
}

.cta-btn {
    background-color: #FEA116 !important;
    color: white;
    padding: 12px 18px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.cta-btn:hover {
    background-color: white !important;
    color: #FEA116 !important;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}



.teenline {
    display: none;
}