.payment-main-div{
    width: 100%;
    max-width: 600px;
    display: flex;
flex-direction: column;
justify-self: center;
padding-top: 200px;
padding-bottom: 200px;
}




.pay-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 24px;
}
.pay-head h1{
font-size: 1.50rem;
cursor: pointer;
font-weight: 600;
}


.payment-form{
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    padding-top:30px ;
    padding-left: 25px;
    padding-right: 25px;
   
}

.payment-form{
    /* padding-top: 50px; */
}

.name-pay{
    display: flex;
    padding-bottom: 30px;
    /* justify-content: space-around; */
    gap: 15px;
    width: 100%;
}



    .form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 400px;
  /* margin: 0 auto; */
  justify-content: space-around;
  padding-bottom: 20px;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.form-input {
  margin-top: 8px;
  padding: 12px 14px;
  font-size: 16px;
  border: 1.8px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 264px;
}

.form-input:focus {
  border-color: #37393b;
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 69, 72, 0.25);
}


.email-p{
    margin-top: 8px;
  padding: 12px 14px;
  font-size: 16px;
  border: 1.8px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* width: 600px; */
  width: 100%;
  
}

.email-p:focus{
    border-color: #37393b;
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 69, 72, 0.25);

}

.form-email{
   display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
  font-size: 16px;

}

.pay-email{
    width: 100%;
    padding-bottom: 20px;

}


.shipping-form{    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    padding-top:30px ;
    padding-left: 25px;
    padding-right: 25px;
   

}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
  margin-top: 20px;
  user-select: none;
}

.checkbox-input {
  width: 18px;
  height: 18px;
  cursor: pointer;
    
  accent-color: #FEA116 ; 
}

.checkbox-label {
  cursor: pointer;
  font-weight: 500;
}

.button1 {
  display: flex;
  justify-content: flex-end; 
  margin-top: 30px;
  padding-bottom: 40px;
}

.continue1 {
  background-color: #FEA116;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  
}



/* =========second page css=========== */



.payment1{
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    padding-top:30px ;
    padding-left: 25px;
    padding-right: 25px;
   
}

.payment-method{
    width: 100%;
    max-width: 600px;
    display: flex;
flex-direction: column;
justify-self: center;
padding-top: 200px;
padding-bottom: 200px;
}


.payon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: #333;
  user-select: none;
}

.radio-input {
  width: 18px;
  height: 18px;
  accent-color: rgb(0, 0, 0); 
  cursor: pointer;
}

.radio-label {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
}



.card-p{
    margin-top: 8px;
  padding: 12px 14px;
  font-size: 16px;
  border: 1.8px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* width: 600px; */
  width: 100%;
  
  
}

.card-p:focus{
    border-color: #37393b;
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 69, 72, 0.25);

}



.cardd{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;

}



    .card-de {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* max-width: 400px; */
  width: 100%;
  /* margin: 0 auto; */
  justify-content: space-around;
  padding-bottom: 20px;
}

.card-no {
  margin-top: 8px;
  padding: 12px 14px;
  font-size: 16px;
  border: 1.8px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 264px;
}

.card-no:focus {
  border-color: #37393b;
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 69, 72, 0.25);
}


.button10 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  /* border: none; */
  border-radius: 6px;
  cursor: pointer;
  
  width: 130px;
}

.back-btn {
  background-color: #fff; 
  color: #000;;
  border: #676666 1px solid;
}

.back-btn:hover {
  background-color: #5a6268;
  
}

.pay-btn {
  background-color: #FEA116; 
  color: white;
  border: none;
}

.pay-btn:hover {
  background-color: #FEA116;
}


.payment-main-div{
    width: 100%;
    max-width: 600px;
    display: flex;
flex-direction: column;
justify-self: center;
padding-top: 200px;
padding-bottom: 200px;
}




.pay-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 24px;
}
.pay-head h1{
font-size: 1.50rem;
cursor: pointer;
font-weight: 600;
}
