 .s1-main-cont{
    background-image:url(assets/img/bg-hero.jpg);
  
    display: flex;

 }
.left-box{
    
    width: 50%;
    /* justify-content: flex-end; */
    /* display: flex; */
    /* flex-direction: column; */
    height: 404px;
}
.right-box{
    width: 50%;
    text-align: center;
    
}
 

 .hero-text {
     /* position: absolute; */
     width: 464px;
     /* top: 35%; */
     /* left: 25%; */
     transform: translate(-50%, -50%);
     color: white;
     font-size: 4rem;
     font-weight: bold;
     text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

     font-family: "Nunito", sans-serif;
 }




 .book {
     padding: 10px;
     font-size: 10px;
     max-width: 143px;
     width: 100%;
     font-size: 15px;
     /* top: 55%; */
     /* margin-top: 18px; */
     background-color: #FEA116;
     color: white;
     border-color: #FEA116;
 }

 :hover.book {
     background-color: white;
     color: #FEA116;
     border-color: white;
     border-radius: 2px;
 }



 


 .overlay-image {
     /* position: absolute; */
     opacity: 0.9;
     /* top: 150px; */
     /* Adjust position */
     /* right: 90px; */
     max-width: 450px;
     
     width: 50%;
     /* Adjust size of overlay */

     /* Optional: transparency */
     animation: imgRotate 50s linear infinite !important;
 }

 @keyframes imgRotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .container{
    max-width: 1280px;
    margin: auto;
    
 }
 .primary-btn{
    padding: 12px 24px;
    background-color: #FEA116;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
 }
 .flex{
    display: flex;
 }

 .img-box img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
 }

 h1{
    font-size: 4rem;
    font-weight: 800;;
    padding: 0%;
 }

 .main-container{
    align-items: center;
    
 }

 

 .para {

    max-width: 50%;
    width: 100%;
    /* top: 104%; */
    /* left: 1%; */
    /* transform: translate(-50%, -50%); */
    /* color: white; */
    font-size: 1rem;
    font-weight: bold;
    /* text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); */
    margin-top: 0;
    /* margin-bottom: .5rem; */
    font-family: "Nunito", sans-serif;

}
.left-box{
    gap: 15px;
    
}


.hero-section{
    background-image: url(assets/img/bg-hero.jpg) ;
    background-size: contain; /* Ensures the entire image fits within the element */
   width: 100%;
    max-width: 100%;
}

.img-box{
    max-width: 300%;
    width: 100%;
}


.a-btn1{
    margin-top: 10px;
    
    background-color: #FEA116 !important;
    color: white;
    padding: 12px 18px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    /* transition: background 0.3s; */
}

.cta-btn1{
     background-color: #FEA116 !important;
    color: white;
    padding: 12px 18px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

}